<%= render "shared/container" do %>
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :firstname, 
                  label: "First Name",
                  autofocus: true,
                  input_html: { autocomplete: "given-name" } %>
      <%= f.input :lastname, 
                  label: "Surname",
                  input_html: { autocomplete: "family-name" } %>
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :address1, 
                  label: "Address Line 1",
                  input_html: { autocomplete: "address-line1" } %>
      <%= f.input :address2, 
                  label: "Town/City",
                  input_html: { autocomplete: "address-level2" } %>
      <%= f.input :postcode, 
                  label: "Postcode",
                  input_html: { autocomplete: "postal-code" } %>
      <%= f.input :phonenumber, 
                  label: "Telephone Number", as: :tel,
                  input_html: { autocomplete: "tel" } %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "my-3 btn btn-dark" %>
    </div>
  <% end %>
  <hr>
  <%= render "devise/shared/links" %>
<% end %>
