<%= render "shared/container" do %>
  <h1>Your Account</h1>
  <h2>Who are you?</h2>
  <div class="contact-info">
    <p class="name"><%= current_user.firstname %> <%= current_user.lastname %></p>
    <p class="address"><%= current_user.address1 %></p>
    <p class="email"><%= current_user.email %></p>
    <p class="phone"><%= current_user.phonenumber %></p>
    <%= link_to "Edit details", edit_user_registration_path, class: "btn btn-primary" %>
  </div>
  <hr>
  <h2>Rentals</h2>
  <table class="rental-table table table-transparent text-white table-hover">
  <thead>
    <tr>
      <th scope="col">Start Date</th>
      <th scope="col">Returned On</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>

  <% @rentals.each do |rental| %>
    <tr>
      <td><%= rental.start_date %></td>
      <td><%= rental.end_date %></td>
      <td><%= rental.title.title %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
