<!-- TODO : Scolling & Loading (Javascript?) -->

<div id="titles mt-3">
<% @title.each do |title| %>
    <h4><%= title.title %></h4>
    <p>Film Description : <%= title.description %></p>
    <p>Release Year : <%= title.release_year %></p>
    <p>Rental Rate : <%= title.rate_per_day %></p>
    <a href="https://www.imdb.com/title/<%= title.imdb_id %>/">
    <span style=" font-size: 24px; color: Gold;">
    <i class="fab fa-imdb"></i>
    </span>
    </a>
    <span style=" font-size: 24px; color: Green;">
    <i class="fas fa-check-circle"></i>
    </span>
    <span style=" font-size: 24px; color: Black;">
    <i class="far fa-closed-captioning"></i>
    </span>
    <span style=" font-size: 24px; color: Black;" data-toggle="tooltip" data-placement="bottom" title="Available in British Sign Language">
        <i class="fas fa-sign-language"></i>
    </span>

    <a href= <%= title_path(title) %> class="btn btn-primary" role="button" aria-pressed="true">Rent</a>

<% end %>
</div>


 <div class="container">
	<div class="row">
		<div class="col-md-4">
    <div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
        <div class="profile-name">JOHN DOE</div>
        <div class="profile-username">@johndoesurname</div>
        <div class="profile-icons"><a href="#"><i class="fas fa-facebook"></i></a><a href="#"><i class="fas fa-twitter"></i></a><a href="#"><i class="fas fa-linkedin"></i></a></div>
    </div>
</div>
