<div class="footer">

<!-- These are the icons for the footer from fontawesome -->

  <div class="my-4 footer-links">
    <%= link_to icon("fab", "github"), rick_path %>
    <%= link_to icon("fab", "instagram"), rick_path %>
    <%= link_to icon("fab", "facebook"), rick_path %>
    <%= link_to icon("fab", "twitter"), rick_path %>
    <%= link_to icon("fab", "linkedin"), rick_path %>
  </div>

<!-- This is a nice little comment to fill space and get us started - its taken from the leWagon component library -->
