<!DOCTYPE html>
<html>
  <head>
  <!-- this is the head title that you'll see on the Chrome Tab I've popped in a VHS emoji! -->
    <title>📼</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- this renders the navbar -->
    <%= render "layouts/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!--  Wrapped the Yield in a div and have set its min height in _home.scss - this should get the footer to drop to the bottom of each page nicely -->
    <div class="min-height">
      <%=yield %>
    </div>

    <!-- this renders the footer -->
    <%= render "layouts/footer" %>
  </body>
</html>
